h1 {
     color:red;
   }

   h2 {
   border: 1px solid blue;
   padding: 17px;
   background-color: blue;
   color: white

   }

   .millonario{
   color: orange;
   margin:7px;
   padding:17px;
   border: 1px solid yellow
   }

   .cont-prinial{
   display: flex;
   margin:27px;
   background-color: blue;
   padding: 30px
   }
   .caja2{
   background-color:black;
   color:white;
   padding: 7px
   }
   .caja3{
    background-color:yellow;
    color:white;
    padding: 7px
   }
   .caja1{
       background-color:orange;
       color:white;
       padding: 7px
      }

   img{
        padding:100;
   }
