<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <h1>bienvenidos a mi pagina web</h1>
     <h2>bienvenidos a mi pagina web</h2>
     <h3>bienvenidos a mi pagina web</h3>
     <h4>bienvenidos a mi pagina web</h4>
     <h5>bienvenidos a mi pagina web</h5>
     <h6>bienvenidos a mi pagina web</h6>
     <p>soy millonario, estoy en camino a recibir mis miles de millones</p>


     <ul>
         <li>pokemon</li>
         <li>preararme para conseguir miles de billones</li>
         <li>seguir consiguiengo billones</li>
     </ul>
     <form>
         <input type = "text">
         <input type = "text">
     </form>
     <img src="https://previews.123rf.com/images/selensergen/selensergen1211/selensergen121100245/16591570-mil-millones-de-d%C3%B3lares-generados-por-ordenador-fondo-imagen-de-alta-resoluci%C3%B3n.jpg?fj=1">
</body>
</html>